<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" 
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" 
        crossorigin="anonymous">
    </script>
    <!-- font-awesome script -->
    <script src="https://kit.fontawesome.com/171765fefe.js" crossorigin="anonymous"></script>
    <title>Todo App</title>
</head>
<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>A simple todo list app built with node</h2>
    </header>

    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here...">
    </section>

    <ul class="list">

    </ul>

    <script src="app.js"></script>
</body>
</html>